@charset "UTF-8";

img {
  width:100%
}
.logo {
  width: 70px;
  height: 70px;
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
/* font */
body {
  font-family: 'Cormorant Garamond', serif;
}
.p-font {
  font-family: 'Raleway', sans-serif;
}
.footer-font {
  font-family: 'Roboto', sans-serif;
}

/* ブレイクポイントで画像サイズを変える。一旦絶対値だが後で修正するかも */

.main-background-color {
  /* background-color: #ffe0d8; */
  background-color: #ffeee5;
}
.navbar-item-box {
  border: 1px solid #ffe7d9;
}
/* パステル画像部 */
.pastel-img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 332px;
}
@media (min-width: 768px) {
  .pastel-img {
    height: 410px;
  }
}
.pastel-front-text-container {
  width: 85%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
@media (min-width: 992px) {
  .pastel-front-text-container {
    width: 50%;
    top:50%;
    left:60%;
    transform: translate(-60%, -50%);
  }
}

.yellow-marker {
  background-color: #fbf77d;
}
/*  */
.pastel-below-texts,.footer-banner {
  background-color: #f8f77d;
}

/* 相談部 */
.consultation-max-width {
  max-width: 688px;
}
.people-img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .people-img {
    max-height: 360px;
  }
}
.ours-background-color {
  background-color: #f7f7f7;
}
.big-logo {
  width: 350px;
  height: 350px;
}
.overview-img {
  max-width: 688px;
}
.contact-form-background-colo {
  background-color: #c9c8fb;
}
.contact-form-container {
  /* max-width: 736px; */
  max-width: 536px;
}
.input-form-max-width {
  max-width: 436px;
  margin: 0 auto;
}
.contact-button {
  background-color: #c9c8f8;
  border-color: #c9c8f8;
}
.submit-button {
  background-color: #1a1855;
  border: #1a1855;
  width: 153px;
}
iframe {
  width: 100%;
}
.footer-logo {
  width: 233px;
  height: 233px;
}
.footer-lg-logo {
  width: 120px;
  height:100px;
}
.footer-container,.map-container {
  max-width: 824px;
}

/* 大家さんページ */

.page-header {
  color: #b85c23;
}
.please-rent-text {
  color: #758c10;
}
.canbe-support-text {
  color: #d0001b
}

.working-img {
  object-fit: cover;
  max-height: 180px;
}
@media (min-width: 576px) {
  .wrapper-contact-over-flow-img {
    position: relative;
  }
  .contact-overflow-img-text {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
  }
}
@media (min-width: 768px) {
  .wrapper-contact-over-flow-img {
    position: relative;
  }
  .contact-overflow-img-text {
    position: absolute;
    top: 0;
    right: 10%;
    margin-top: 2.5rem;
  }
}
@media (min-width: 992px) {
  .wrapper-contact-over-flow-img {
    position: relative;
  }
  .contact-overflow-img-text {
    position: absolute;
    top: 0;
    right: 15%;
    margin-top: 4rem;
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .wrapper-contact-over-flow-img {
    position: relative;
  }
  .contact-overflow-img-text {
    position: absolute;
    top: 0;
    right: 20%;
    margin-top: 5rem;
  }
}
