@charset "UTF-8";

img {
  width:100%
}
.logo {
  width: 70px;
  height: 70px;
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
/* font */
body {
  font-family: 'Cormorant Garamond', serif;
}
.p-font {
  font-family: 'Raleway', sans-serif;
}
.footer-font {
  font-family: 'Roboto', sans-serif;
}

/* ブレイクポイントで画像サイズを変える。一旦絶対値だが後で修正するかも */

.navbar-content-color {
  background-color: #ffe0d8;
}
/* パステル画像部 */
.pastel-img {
  width: 100%;
  max-width: 100%;
  height: 332px;
}
@media (min-width: 768px) {
  .pastel-img {
    height: 410px;
  }
}
.pastel-front-text-container {
  width: 85%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
@media (min-width: 992px) {
  .pastel-front-text-container {
    width: 50%;
    top:50%;
    left:60%;
    transform: translate(-60%, -50%);
  }
}

.yellow-marker {
  background-color: #fbf77d;
}
/*  */
.pastel-below-texts {
  background-color: #f8f77d;
}

/* 相談部 */
.consultation-max-width {
  max-width: 688px;
}
