@charset "UTF-8";

/* ブレイクポイントで画像サイズを変える。一旦絶対値だが後で修正するかも */
.img-my-fluid {
  width: 100%; /* Default width */
}

@media (max-width: 576px) {
  .img-my-fluid {
    width: 80px; /* Width for <=576px devices */
  }
}
@media (min-width: 576px) {
  .img-my-fluid {
    width: 120px; /* Width for ≥576px devices */
  }
}
@media (min-width: 786px) {
  .img-my-fluid {
    width: 210px; /* Width for ≥786px devices */
  }
}

@media (min-width: 575px) {
  .my-navbar {
      flex-direction: column;
  }
}

/* fontsize */
.my-ft-big {
  font-size: 40px;
}

/* background-color */
.navbar-content-color {
  background-color: #ffe0d8;
}

.yellow-marker {
  background-color: #fbf77d;
}
